@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


main {
  text-align: center;
  width: 100%;
  margin-top: 5%;
}

.container {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  width: 50%;
  margin: auto;
  padding: 30px;
  background-color: #448FA3;
  color: #02182B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.header {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
}

.qtd {
  width: 20%;
}

.addButton {
  height: 35px;
  width: 35px;
  border-radius: 10%
}

.list {
  margin-top: 10%;
}

.table,tr {
  border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    width: 100%;
    justify-content: space-between;
}
